@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var selection = Model.Ancestors().ToArray(); 
    var homePageDisplayName = "Home";
    var isFirstItem = true;
    var homePageUrl = Model.Root().Url(PublishedUrlProvider); 
    var isHomePage = Model.Url(PublishedUrlProvider).Equals(homePageUrl, StringComparison.InvariantCultureIgnoreCase); 
    var backgroundImage = "/media/h3dipikd/breadcrumb-bg.svg";
}

<section id="page-breadcrumb">
    <div class="container">
        @if (!isHomePage) 
        {
            <div id="bg-img-1">
                <img src="@backgroundImage">
            </div>
            
            <h2>@ViewBag.Title</h2>
            <div id="bg-img-2">
                <img src="@backgroundImage">
            </div>
            
        }

        @if (selection?.Length > 0 && !isHomePage)
        {
            <div class="breadcrumb">
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    var displayName = isFirstItem ? homePageDisplayName : item.Name;
                    <li><a href="@item.Url(PublishedUrlProvider)">@displayName</a></li>
                    isFirstItem = false;
                }
                <p>></p>
                <li class="active"> @Model.Name</li>
            </div>
        }
    </div>
</section>
